name: CI tests

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Cache NuGet packages
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.sln*', '**/*.csproj*') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
     
    - name: Restore NuGet packages
      run: |
        nuget restore ms-sql-image2jpg.csproj -ConfigFile nuget.config

    - name: Build solution for testing
      run: |
        dotnet build ms-sql-image2jpg.csproj --configuration Debug -f net481

    - name: Install NUnit Console Runner
      run: nuget install NUnit.ConsoleRunner -Version 3.19.2 -OutputDirectory testrunner

    - name: Run Tests dll for PB with net 481
      run: .\testrunner\NUnit.ConsoleRunner.3.19.2\tools\nunit3-console.exe ${{ github.workspace }}\bin\Debug\net481\win-x86\Image2Jpg.dll
